/* Write your CSS here */
.planets-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  min-height: 100vh;
  padding: 41px;
}

@media screen and (min-width: 768px) {
  .planets-container {
    padding: 80px;
  }
}

.title {
  color: #05acff;
  text-align: center;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 50px;
    margin-bottom: 65px;
  }
}
